<configuration>
  <dllmap dll="libbulletc" os="windows" cpu="x86" target="libbulletc-windows-x86.dll"/>
  <dllmap dll="libbulletc" os="windows" cpu="x86-64" target="libbulletc-windows-x64.dll"/>
  <dllmap dll="libbulletc" os="linux" cpu="x86" target="libbulletc-linux-x86.so"/>
  <dllmap dll="libbulletc" os="linux" cpu="x86-64" target="libbulletc-linux-x64.so"/>
  <dllmap dll="libbulletc" os="linux" cpu="arm" target="libbulletc-linux-arm.so"/>
</configuration>